# Vivado generated
vivado/
vitis_workspace/

# Vitis generated
sw/workspace/
sw/*.log
sw/*.err
sw/.Xil/
BOOT.BIN
*.jou
*.log
*.str
*.cache
*.runs
*.hw
*.xpr
*.xsa
*.dcp
*.dmp

# OS
.DS_Store
Thumbs.db